<div class="col-md-12">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="program_name" class="sr-only">Program name</label>
                <input type="text" class="form-control" name="program_name" id="program_name"
                       placeholder="Program name"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a class="btn btn-primary js-add-exercise" href="#">Add exercise</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 program-exercises-container">
            <h4>Program Exercises</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success js-save" type="button">Save</button>
            <button class="btn btn-warning js-cancel" type="button">Cancel</button>
        </div>
    </div>
</div>