<form role="form">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group form-inline">
      <%- order_number %>.
      <select class="form-control exercise-select" name="exercise_id" >
        <option value="">No exercise selected</option>
        <% exercises.each(function (e) { %>
        <option value="<%= e.get('exercise_id') %>"><%= e.get("name") %></option>
        <% }); %>
      </select>
      <button class="js-delete btn btn-danger">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
    </div>
    <div class="form-group exercise-sets"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label for="instructions">
        Instructions
      </label>
      <textarea class="form-control" row="3" name="instructions"></textarea>
    </div>
    <div class="form-group">
      <label for="comment">
        Comments
      </label>
      <textarea class="form-control" name="comment" rows="3"></textarea>
    </div>
  </div>
</form>